<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yefeng.ssm.boot_5.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.yefeng.ssm.boot_5.pojo.Order">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="totalPrice" column="total_price" jdbcType="DECIMAL"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="linkUser" column="link_user" jdbcType="VARCHAR"/>
            <result property="linkPhone" column="link_phone" jdbcType="VARCHAR"/>
            <result property="linkAddress" column="link_address" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_no,total_price,
        user_id,link_user,link_phone,
        link_address,state,create_time
    </sql>
</mapper>
