<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yefeng.boot_4.DAO.BlogMapper">

    <resultMap id="BaseResultMap" type="com.yefeng.boot_4.pojo.Blog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="types" column="types" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="TIMESTAMP"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="BlogResultMap" type="com.yefeng.boot_4.pojo.Blog">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="types" column="types" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="date" column="date" jdbcType="TIMESTAMP"/>
        <association property="users" javaType="com.yefeng.boot_4.pojo.Users">
            <result property="uname" column="uname" jdbcType="VARCHAR"></result>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,types,
        content,date,state,
        uid
    </sql>
    <insert id="insertSelective">
        insert into t_blog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null">title,</if>
            <if test="types != null">types,</if>
            <if test="content != null">content,</if>
            <if test="date != null">date,</if>
            <if test="state != null">state,</if>
            <if test="uid != null">uid,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=INTEGER},</if>
            <if test="title != null">#{title,jdbcType=VARCHAR},</if>
            <if test="types != null">#{types,jdbcType=VARCHAR},</if>
            <if test="content != null">#{content,jdbcType=VARCHAR},</if>
            <if test="date != null">#{date,jdbcType=TIMESTAMP},</if>
            <if test="state != null">#{state,jdbcType=INTEGER},</if>
            <if test="uid != null">#{uid,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <select id="selectByUid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_blog
        where
        uid = #{uid,jdbcType=NUMERIC}
    </select>

    <select id="selectBlogs" resultMap="BlogResultMap">
        SELECT t_blog.id, t_blog.title,t_blog.types,t_blog.content,t_blog.date,t_users.uname
        FROM t_blog LEFT JOIN t_users ON t_blog.uid = t_users.uid
    </select>

    <delete id="deleteByIdAndUid">
        delete
        from t_blog
        where id = #{id,jdbcType=NUMERIC}
          AND uid = #{uid,jdbcType=NUMERIC}
    </delete>
    <select id="selectAllByTitle" resultMap="BlogResultMap">
        SELECT t_blog.id, t_blog.title,t_blog.types,t_blog.content,t_blog.date,t_users.uname
        FROM t_blog LEFT JOIN t_users ON (t_blog.uid = t_users.uid )
        WHERE title like "%${title}%"
    </select>

    <select id="selectAllByTypes" resultMap="BlogResultMap">
        SELECT t_blog.id, t_blog.title,t_blog.types,t_blog.content,t_blog.date,t_users.uname
        FROM t_blog LEFT JOIN t_users ON (t_blog.uid = t_users.uid )
        WHERE types like "%${types}%"
    </select>

</mapper>
